body {
  font-family: "Montserrat", sans-serif;
  color: #454545;
  margin: 0px;
  padding: 0px;
<<<<<<< HEAD
  background: #8360c3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
=======
  background: #7F7FD5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
>>>>>>> cbc912ce60ab6950be0e6e9698385e2e1952e526
}
.page {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  padding-top: 100px;
}

.ball, .button {
  margin: 0 auto;
}

.ball {
<<<<<<< HEAD
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
=======
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
>>>>>>> cbc912ce60ab6950be0e6e9698385e2e1952e526
}

.ball img {
  width: 100%;
<<<<<<< HEAD
  margin: 0 auto;
=======
  margin: 0;
>>>>>>> cbc912ce60ab6950be0e6e9698385e2e1952e526
  padding: 0;
}

.answer {
  position: absolute;
  width:13%;
  margin-bottom: 7%;
  margin-left: 3%;
  font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
  color: #222;
  text-transform: uppercase;
}

#questionButton {
  font: 26px 'Montserrat', Helvetica, Arial, sans-serif;
  border-radius: 5px;
  border: none;
  color: #f8f8f8;
  background-color: #f16059;
  padding: 10px 75px;
  display: block;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

header span {
  font-size: 60px;
  color: #f16059;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

footer p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}

@media only screen and (max-width: 768px) {

  .answer {
    position: absolute;
    width: 13%;
    margin-bottom: 10%;
    margin-left: 4%;
    font: 14px 'Open Sans', Helvetica, Arial, sans-serif;
  }
}
